.reset-password {
    padding-top: 20pt;
    padding-bottom: 20pt;
    background-color: rgb(175, 225, 245);
    border-radius: 5pt;
    margin-top: 30pt;
    margin-left: 20pt;
}

.reset-password-form {
    margin-top: 30pt;
    margin-left: 20pt;
    margin-right: 20pt;
    margin-bottom: 30pt;
}