swagger: '2.0'
info:
  version: '1.0'
  title: "Chron"
  description: Descrizione
  license:
    name: MIT
    url: https://github.com/Saaam1607/Chron
host: chron.render.com
basePath: /api/v1
schemes:
- https
securityDefinitions:
  JWT:
    type: apiKey
    name: Authorization
    in: header
consumes:
- application/json
produces:
- application/json

paths:

  /timer/stato:
    get:
      summary: Stato del timer
      tags:
        - Timer
      description: Restituisce lo stato corrente del timer Pomodoro.
      responses:
        200:
          description: Stato del timer ottenuto con successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se lo stato è stato ottenuto con successo
                example: true
              fase:
                type: number
                description: Numero della fase corrente del timer Pomodoro
                example: 0
              durata:
                type: number
                description: Durata della fase corrente del timer Pomodoro in minuti
                example: 25
        500:
          description: Errore durante la lettura dello stato del timer
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore durante la lettura dello stato
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore durante la lettura dello stato del timer
              
  /timer/fine:
    put:
      summary: Fine della fase del timer
      tags:
        - Timer
      description: Aggiorna lo stato del timer Pomodoro alla fine della fase corrente.
      parameters:
        - in: body
          name: body
          description: Oggetto contenente la fase corrente del timer
          required: true
          schema:
            type: object
            properties:
              fase:
                type: number
                description: Numero della fase corrente del timer Pomodoro
                example: 0
      responses:
        200:
          description: Aggiornamento del timer effettuato con successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se l'aggiornamento del timer è stato effettuato con successo
                example: true
              fase:
                type: number
                description: Numero della fase aggiornata del timer Pomodoro
                example: 1
              durata:
                type: number
                description: Durata della fase aggiornata del timer Pomodoro in minuti
                example: 5
        400:
          description: Errore, input non validi
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa di input non validi
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore, input non validi
        404:
          description: Errore, sessione mancante o non valida
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa di una sessione mancante o non valida
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore, sessione mancante o non valida
        500:
          description: Errore interno durante l'aggiornamento del timer
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore interno durante l'aggiornamento del timer
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore interno durante l'aggiornamento del timer
                
  /timer/impostazioni:
    get:
      summary: Ottiene le impostazioni del timer Pomodoro
      tags:
        - Timer
      description: Restituisce le impostazioni correnti del timer Pomodoro.
      responses:
        200:
          description: Impostazioni del timer ottenute con successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se il recupero delle impostazioni è stato effettuato con successo
                example: true
              durataPomodoro:
                type: number
                description: Durata del pomodoro in minuti
                example: 25
              durataPausaCorta:
                type: number
                description: Durata della pausa corta in minuti
                example: 5
              durataPausaLunga:
                type: number
                description: Durata della pausa lunga in minuti
                example: 15
              pomodoriPerSessione:
                type: number
                description: Numero di pomodori completati per ogni sessione
                example: 4
        404:
          description: Errore, impostazioni della sessione mancanti o non valide
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa di impostazioni mancanti o non valide
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore, impostazioni della sessione mancanti o non valide
        500:
          description: Errore nella lettura delle impostazioni
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore nella lettura delle impostazioni
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore nella lettura delle impostazioni
                
    put:
      summary: Modifica le impostazioni del timer Pomodoro
      tags:
        - Timer
      description: Modifica le impostazioni del timer Pomodoro con i nuovi valori specificati.
      parameters:
        - in: body
          name: body
          description: Oggetto contenente la i valori corrente del timer
          required: true
          schema:
            type: object
            properties:
              pomodoro:
                type: number
                description: Durata del pomodoro in minuti
                example: 25
              pausaCorta:
                type: number
                description: Durata della pausa corta in minuti
                example: 5
              pausaLunga:
                type: number
                description: Durata della pausa lunga in minuti
                example: 15
              sessioni:
                type: number
                description: Numero di pomodori completati per ogni sessione
                example: 4
      responses:
        204:
          description: Impostazioni del timer modificate con successo
        400:
          description: Errore, input non validi
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa di input non validi
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore, input non validi
        404:
          description: Errore, sessione mancante o non valida
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa di una sessione mancante o non valida
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore, sessione mancante o non valida
        500:
          description: Errore durante la modifica delle impostazioni
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore durante la modifica delle impostazioni
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore durante la modifica delle impostazioni
                
  /sessione/salva-sessione:
    x-summary: Salva o crea una sessione
    put:
      summary: api/v1/sessione/
      tags:
        - Sessione
      security:
        - JWT: []
      description: >-
        Crea o aggiorna una sessione nel database.
        Se esiste già una sessione con la stessa data e ID_utente,
        aggiorna il campo "minuti". Altrimenti, crea una nuova sessione.
      parameters:
        - name: Authorization
          in: header
          description: token
          required: true
          type: string
        - name: body
          in: body
          description: Oggetto contentente il tempo di studio espresso in minuti
          schema:
            type: object
            properties:
              minuti:
                type: number
                description: Tempo di studio espresso in minuti
                example: 120
              
      responses:
        201:
          description: Sessione salvata con successo.
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore durante il salvataggio della sessione
                example: true
              message:
                type: string
                description: Messaggio di conferma
                example: Sessione salvata con successo.
        400:
          description: Parametro minuti mancante o non valido.
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore durante il salvataggio della sessione
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Parametro minuti mancante o non valido.
        500:
          description: Errore del server.
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore durante il salvataggio della sessione
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Non è stato possibile salvare la sessione. Errore del server.

  /profilo/autenticazione:
    post:
      summary: Effetua il login
      tags:
        - Profilo
      description: >-
        Effetua il login, controllando la corrispondenza tra le credenziali ricevute (email e password).
        Se l'autenticazione avviene con successo viene restituito un jwt token
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Dati di autenticazione (email e password)
          required: true
          schema:
            type: object
            properties:
              email:
                type: string
                description: Email dell'utente
                example: randomEmail@gmail.com
              password:
                type: string
                description: Password dell'utente
                example: randomPassword123!
      responses:
        200:
          description: Autenticazione riuscita
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se l'autenticazione è stata completata con successo
                example: true
              token:
                type: string
                description: Token di accesso generato per l'utente
                example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        400:
          description: Parametri mancanti
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Parametri email o password mancanti
        401:
          description: Autenticazione non riuscita
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Autenticazione non riuscita, credenziali non corrispondenti o valide
                
                
        500:
          description: Errore durante la richiesta di autenticazione
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Il messaggio di errore
                example: L'operazione di richiesta di autenticazione non è andata a buon fine

  /profilo/nuova-autenticazione:
    post:
      summary: Richiesta di nuova autenticazione
      tags:
        - Profilo
      description: >-
        Effetua la registrazione, controllando la validità e la corrispondenza tra le credenziali ricevute (email e password).
        Se l'autenticazione avviene con successo viene restituito un jwt token. Invia una email di conferma all'utente con un link di verifica.
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Dati di nuova autenticazione (email, password e username)
          required: true
          schema:
            type: object
            properties:
              email:
                type: string
                description: Email dell'utente
                example: randomEmail@gmail.com
              password:
                type: string
                description: Password dell'utente
                example: randomPassword123!
              username:
                type: string
                description: Username dell'utente
                example: randomUsername
      responses:
        200:
          description: Email di conferma inviata con successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: true
              message:
                type: string
                description: Messaggio di conferma
                example: Email di Conferma Account inviata con successo!
        400:
          description: Parametri mancanti
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: I parametri username, email o password mancanti
        401:
          description: Credenziali non valide
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Autenticazione non riuscita, credenziali non corrispondenti o valide
        409:
          description: Email già utilizzata
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore, email già utilizzata
        500:
          description: Errore durante la richiesta di nuova autenticazione
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Il messaggio di errore
                example: L'operazione di richiesta di registrazione non è andata a buon fine
                
  /profilo/verifica-registrazione:
    post:
      summary: Verifica registrazione
      tags:
        - Profilo
      description: >-
        Verifica la registrazione di un account utilizzando un token di conferma.
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Dati di verifica registrazione
          required: true
          schema:
            type: object
            properties:
              token:
                type: string
                description: Token di conferma registrazione
                example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJhbmRvbUVtYWlsQGdtYWlsLmNvbSIsInBhc3N3b3JkIjoicmFuZG9tUGFzc3dvcmQxMjMhIiwidXNlcm5hbWUiOiJyYW5kb21Vc2VybmFtZSIsImlhdCI6MTYzMzEwMDg0OSwiZXhwIjoxNjMzMTAwODQ5fQ.S7r7hH-0fNujXj9gzGdRz46uLCgAY3iBLXTHD8-_bdQ
      responses:
        201:
          description: Account registrato con successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: true
              message:
                type: string
                description: Messaggio di conferma
                example: Account registrato con successo!
        400:
          description: Parametro mancante
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Il parametro token è mancante!
        401:
          description: Token non valido o scaduto
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Token non valido o scaduto!
        409:
          description: Account già esistente
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Account già esistente!
        500:
          description: Errore durante la registrazione
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: L'operazione di registrazione non è andata a buon fine
  
  /profilo/richiesta-nuova-password:
    post:
      summary: Richiesta di nuova password
      tags:
        - Profilo
      description: >-
        Invia una email di recupero password all'utente con un link per il reset della password.
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Dati di richiesta nuova password (email)
          required: true
          schema:
            type: object
            properties:
              email:
                type: string
                description: Email dell'utente
                example: randomEmail@gmail.com
      responses:
        200:
          description: Email di recupero password inviata con successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: true
              message:
                type: string
                description: Messaggio di conferma
                example: Email inviata con successo!
        400:
          description: Parametro mancante
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Il parametro "email" mancante!
        404:
          description: Utente non trovato
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Utente non trovato con l'email fornita!
        409:
          description: Impossibile recuperare la password
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Non puoi recuperare la password di un account creato con la registrazione esterna. Per autenticarti utilizza direttamente l'apposito bottone "accedi con Google".
        500:
          description: Errore durante la richiesta di nuova password
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: L'operazione di richiesta nuova password non è andata a buon fine.
                
  /profilo/richiesta-reset-password:
    post:
      summary: Richiesta di reset password
      tags:
        - Profilo
      description: >-
        Resetta la password dell'utente utilizzando il token di recupero password e la nuova password forniti.
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Dati di reset password (token e password)
          required: true
          schema:
            type: object
            properties:
              token:
                type: string
                description: Token di recupero password
                example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImFhZGJjNTQzLWU4MmMtNGIyZS1hNmRiLWU5ZTJiMzY0ZGJjZSIsImlhdCI6MTYyMzEyMjM2MCwiZXhwIjoxNjIzMTI1OTYwfQ.5dLTKzk3MwC6A4O0n2k-yq_a1tNRmso_9qZT3Fjsgv4
              password:
                type: string
                description: Nuova password dell'utente
                example: newPassword123!
      responses:
        200:
          description: Password ripristinata con successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: true
              message:
                type: string
                description: Messaggio di conferma
                example: Password aggiornata con successo!
        400:
          description: Parametri mancanti
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: I parametri "token" o "password" sono mancanti!
        401:
          description: Token non valido o scaduto
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Token non valido o scaduto!
        500:
          description: Errore durante il ripristino della password
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: L'operazione di ripristino della password non è andata a buon fine.      
    
  /profilo/autenticazione-esterna:
    post:
      summary: Autenticazione esterna
      tags:
        - Profilo
      description: >-
        Gestisce l'autenticazione dell'utente utilizzando un token di autenticazione Google e l'ID del client.
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Dati di autenticazione esterna (token e clientId)
          required: true
          schema:
            type: object
            properties:
              gToken:
                type: string
                description: Token di autenticazione Google
                example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImFhZGJjNTQzLWU4MmMtNGIyZS1hNmRiLWU5ZTJiMzY0ZGJjZSIsImlhdCI6MTYyMzEyMjM2MCwiZXhwIjoxNjIzMTI1OTYwfQ.5dLTKzk3MwC6A4O0n2k-yq_a1tNRmso_9qZT3Fjsgv4
              clientId:
                type: string
                description: ID del client
                example: myClient123
      responses:
        200:
          description: Autenticazione effettuata con successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se l'autenticazione è stata completata con successo
                example: true
              message:
                type: string
                description: Messaggio di conferma
                example: L'autenticazione effettuata con successo!
              token:
                type: string
                description: Token di accesso generato
                example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImFhZGJjNTQzLWU4MmMtNGIyZS1hNmRiLWU5ZTJiMzY0ZGJjZSIsImlhdCI6MTYyMzEyMjM2MCwiZXhwIjoxNjIzMTI1OTYwfQ.5dLTKzk3MwC6A4O0n2k-yq_a1tNRmso_9qZT3Fjsgv4
        201:
          description: Utente registrato e autenticazione effettuata con successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se l'autenticazione è stata completata con successo
                example: true
              message:
                type: string
                description: Messaggio di conferma
                example: Utente registrato e l'autenticazione effettuata con successo!
              token:
                type: string
                description: Token di accesso generato
                example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImFhZGJjNTQzLWU4MmMtNGIyZS1ilo
      
  /gruppi/membro:
    get:
      summary: Otteniene i dati del membro
      tags:
        - Gruppi
      security:
        - JWT: []
      description: Restituisce i dati relativi ai gruppi rispetto al membro che li richiede
      parameters:
        - name: Authorization
          in: header
          description: token
          required: true
          type: string
      responses:
        200:
          description: Successo
          schema:
            type: object
            properties:
              success:
                type: string
                description: Esito della lettura dei gruppi
                example: true
              result:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      example: "1"
                    name:
                      type: string
                      example: "Nome Gruppo"
                    leader_id:
                      type: string
                      example: "2"
                    leader_username:
                      type: string
                      example: "Username Leader"
                    members:
                      type: array
                      items:
                        type: string
                      example: ["3", "4"]
                    membersData:
                      type: array
                      items:
                        type: array
                        items:
                          type: string
                      example:
                        - ["3", "Username Membro 1", "email1@example.com"]
                        - ["4", "Username Membro 2", "email2@example.com"]
        204:
          description: Nessun risultato
        401:
          description: Azione non autorizzata
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa dell'autorizzazione non concessa
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Utente non autenticato, codice non valido
        500:
          description: Errore durante la lettura dei dati
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della lettura
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore durante la lettura dei dati
                
  /gruppi/leader:
    get:
      summary: Otteniene i dati del leader
      tags:
        - Gruppi
      security:
        - JWT: []
      description: Restituisce i dati relativi al leader
      parameters:
        - name: Authorization
          in: header
          description: token
          required: true
          type: string
      responses:
        200:
          description: Successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della lettura dei dati
                example: true
              result:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      example: "1"
                    name:
                      type: string
                      example: "Nome Gruppo"
                    leader_id:
                      type: string
                      example: "2"
                    leader_username:
                      type: string
                      example: "Username Leader"
                    members:
                      type: array
                      items:
                        type: string
                      example: ["3", "4"]
                    membersData:
                      type: array
                      items:
                        type: array
                        items:
                          type: string
                      example:
                        - ["3", "Username Membro 1", "email1@example.com"]
                        - ["4", "Username Membro 2", "email2@example.com"]
        204:
          description: Nessun risultato
        401:
          description: Azione non autorizzata
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa dell'autorizzazione non concessa
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Utente non autenticato, codice non valido
        500:
          description: Errore durante la lettura dei dati
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della lettura
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore durante la lettura dei dati
                
                
  /gruppi:
    post:
      summary: Creazione di un gruppo
      tags:
        - Gruppi
      security:
        - JWT: []
      description: Crea un nuovo gruppo con il nome specificato dal body della richiesta
      parameters:
        - name: body
          in: body
          description: Oggetto contenente il nome del gruppo e l'id del membro
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                example: Nome Gruppo
        - name: Authorization
          in: header
          description: token
          required: true
          type: string
      responses:
        201:
          description: Gruppo creato con successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della creazione del gruppo
                example: true
              message:
                type: string
                description: Messaggio di conferma
                example: Gruppo creato con successo
        400:
          description: Parametri non validi
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della creazione del gruppo
                example: false
              message:
                type: string
                description: Messaggio di errrore
                example: Errore, Parametri ricevuti non validi
        401:
          description: Azione non autorizzata
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa dell'autorizzazione non concessa
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Utente non autenticato, codice non valido
        500:
          description: Errore durante la creazione del gruppo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della creazione del gruppo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore durante la creazione del gruppo
                
    put:
      summary: Unione ad un gruppo
      tags:
        - Gruppi
      security:
        - JWT: []
      description: Permette a un utente di unirsi a un gruppo utilizzando un codice di accesso
      parameters:
        - name: body
          in: body
          description: Oggetto contenente il codice di accesso al gruppo e l'id del membro
          required: true
          schema:
            type: object
            properties:
              codice:
                type: string
                example: groupId1
        - name: Authorization
          in: header
          description: token
          required: true
          type: string
      responses:
        201:
          description: Unione al gruppo completata con succeso
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito dell'unione al gruppo
                example: true
              message:
                type: string
                description: Messaggio di conferma
                example: Unione completata con successo
        400:
          description: Parametri mancanti o non validi
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito dell'unione al gruppo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore, parametri assenti o non validi
        401:
          description: Azione non autorizzata
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa dell'autorizzazione non concessa
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Utente non autenticato, codice non valido
        404:
          description: Il gruppo non esiste
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito dell'unione al gruppo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Il gruppo non esiste!
        409:
          description: L'utente è già un componente del gruppo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito dell'unione al gruppo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Sei già un componente di questo gruppo!
        500:
          description: Errore durante l'unione al gruppo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito dell'unione al gruppo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore durante l'unione al gruppo
                
  /gruppi/task:
    post:
      summary: Assegnazione di una task
      tags:
        - Gruppi
      security:
        - JWT: []
      description: Assegna una nuova task ai membri specificati e invia loro una notifica via email
      parameters:
        - name: body
          in: body
          description: Oggetto contenente i dettagli della task
          required: true
          schema:
            type: object
            properties:
              nome:
                type: string
                example: Nome Task
              dataScadenza:
                type: string
                format: date
                example: 2023-06-30
              members:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: memberId1
                    email:
                      type: string
                      example: email@example.com
              nomeGruppo:
                type: string
                example: Nome Gruppo
              ID_gruppo:
                type: string
                example: groupId1
        - name: Authorization
          in: header
          description: token
          required: true
          type: string
      responses:
        200:
          description: Email di assegnazione task inviata con successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito dell'assegnazione e invio email
                example: true
              message:
                type: string
                description: Messaggio di conferma
                example: Email di assegnazione task inviata con successo!
        401:
          description: Azione non autorizzata
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa dell'autorizzazione non concessa
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Utente non autenticato, codice non valido
        400:
          description: Parametri mancanti o non validi
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito dell'assegnazione e invio email
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: I parametri Nome task, nome gruppo o membri sono mancanti
        500:
          description: Errore durante l'invio delle email per l'assegnazione del task
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito dell'assegnazione e invio email
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: L'operazione di invio delle email per l'assegnazione del task non è andata a buon fine
                
  /gruppo/{idGruppo}:
    delete:
      summary: Elimina un gruppo
      tags:
        - Gruppi
      parameters:
        - name: idGruppo
          in: path
          description: ID del gruppo da eliminare
          required: true
          type: string
        - name: Authorization
          in: header
          description: Token di autenticazione
          required: true
          type: string
      responses:
        200:
          description: Gruppo eliminato correttamente
          schema:
            type: object
            properties:
              success:
                type: string
                example: true
              message:
                type: string
                example: Gruppo eliminato correttamente
        400:
          description: Parametri assenti o non validi
          schema:
            type: object
            properties:
              success:
                type: string
                example: false
              message:
                type: string
                example: Errore, parametri assenti o non validi
        403:
          description: L'utente che ha richiesto l'eliminazione del gruppo non è il leader
          schema:
            type: object
            properties:
              success:
                type: string
                example: false
              message:
                type: string
                example: L'utente che ha richiesto l'eliminazione del gruppo non è il leader!
        404:
          description: Il gruppo specificato non esiste
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              message:
                type: string
                example: Il gruppo specificato non esiste!
        500:
          description: Errore durante l'eliminazione del gruppo
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              message:
                type: string
                example: Errore durante l'eliminazione del gruppo

  /profiloData:
    get:
      summary: Ottieni i dati dell'utente
      tags:
        - Dati Profilo
      security:
        - JWT: []
      description: Restituisce i dati del profilo dell'utente
      parameters:
        - name: Authorization
          in: header
          description: token
          required: true
          type: string
      responses:
        200:
          description: Successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della lettura dei dati
                example: true
              data:
                $ref: '#/definitions/Task'
        400:
          description: Richiesta non valida
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della lettura dei dati
                example: false
              message:
                type: string
                description: Messaggio di errrore
                example: Errore, ID non trovato
        401:
          description: Azione non autorizzata
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa dell'autorizzazione non concessa
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Utente non autenticato, codice non valido
        500:
          description: Errore del server
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della lettura dei dati
                example: false
              message:
                type: string
                description: Messaggio di errrore
                example: Errore durante la lettura dei dati  
                
  /profiloData/username:
    put:
      summary: Aggiornamento dello username dell'utente
      tags:
        - Dati Profilo
      security:
        - JWT: []
      parameters:
        - name: Authorization
          in: header
          description: token
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            type: object
            properties:
              password:
                type: string
                description: Password dell'utente
              username:
                type: string
                description: Nuovo username dell'utente
      responses:
        200:
          description: Lo username dell'utente è stato aggiornato con successo.
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se l'operazione è stata completata con successo
                example: true
              message:
                type: string
                description: Messaggio di conferma dell'aggiornamento dello username
                example: Username aggiornato
        401:
          description: Azione non autorizzata
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa dell'autorizzazione non concessa
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Utente non autenticato, codice non valido
        500:
          description: Internal Server Error. Si è verificato un errore durante l'aggiornamento dello username.
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se l'operazione è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore relativo all'errore di aggiornamento dello username
                example: Errore durante l'aggiornamento dello username
                
  /profiloData/email:
    put:
      summary: Modifica dell'email e invio conferma
      tags:
        - Dati Profilo
      security:
        - JWT: []
      description: Permette di modificare l'email dell'utente e inviare un'email di conferma
      parameters:
        - name: Authorization
          in: header
          description: token
          required: true
          type: string
        - name: body
          in: body
          description: Dati per la modifica dell'email
          required: true
          schema:
            type: object
            properties:
              password:
                type: string
                description: Password corrente dell'utente
                example: randomPassword123!
              email:
                type: string
                description: Nuova email desiderata
                example: randomEmail@gmail.com
      responses:
        200:
          description: Email di conferma inviata con successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della modifica e invio dell'email
                example: true
              message:
                type: string
                description: Messaggio di conferma
                example: Email di conferma modifica inviata con successo!
        401:
          description: Password errata (o token non presente/valido)
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della modifica e invio dell'email
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore, password errata
        500:
          description: Errore durante l'invio dell'email
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della modifica e invio dell'email
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore durante l'invio dell'email
                
  /profiloData/verifica-email:
    put:
      summary: Verifica email e aggiorna
      tags:
        - Dati Profilo
      security:
        - JWT: []
      description: Verifica l'email utilizzando un token e aggiorna l'email dell'utente
      parameters:
        - name: Authorization
          in: header
          description: token
          required: true
          type: string
        - name: body
          in: body
          description: Token di verifica dell'email
          required: true
          schema:
            type: object
            properties:
              token:
                type: string
                description: Token di verifica dell'email
      responses:
        201:
          description: Email aggiornata con successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della modifica
                example: true
              message:
                type: string
                description: Messaggio di conferma
                example: L'email è stata aggiornata con successo
        401:
          description: Token di verifica non valido o scaduto
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della modifica
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Token di verifica non valido o scaduto
        409:
          description: Email già aggiornata o token non valido
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della modifica
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: L'email già aggiornata o token non valido!
        500:
          description: Errore durante l'aggiornamento dell'email
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della modifica
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: L'operazione di aggiornamento dell'email non è andato a buon fine
                
  /profiloData/password:
    put:
      summary: Aggiornamento della password
      tags:
        - Dati Profilo
      security:
        - JWT: []
      description: Permette di aggiornare la password dell'utente
      parameters:
        - name: Authorization
          in: header
          description: token
          required: true
          type: string
        - name: body
          in: body
          description: Dati per l'aggiornamento della password
          required: true
          schema:
            type: object
            properties:
              password:
                type: string
                description: Password corrente dell'utente
                example: currentRandomPassword123!
              nuovaPassword:
                type: string
                description: Nuova password desiderata
                example: newRandomPassword123!
      responses:
        200:
          description: Password aggiornata con successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della modifica
                example: true
              message:
                type: string
                description: Messaggio di conferma
                example: Password aggiornata con successo
        401:
          description: Password errata
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della modifica
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore, password errata
        500:
          description: Errore durante l'aggiornamento della password
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Esito della modifica
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Errore durante l'aggiornamento della password
                
  /todos:
    get:
      summary: Ottiene la lista delle tasks
      tags:
        - TO DO
      security:
        - JWT: []
      description: Restituisce la lista delle tasks dell'utente corrente.
      parameters:
        - name: Authorization
          in: header
          description: token
          required: true
          type: string
      responses:
        200:
          description: Lista delle tasks ottenuta con successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se l'operazione di lettura delle tasks è stata completata con successo
                example: true
              tasks:
                type: array
                items:
                  $ref: '#/definitions/Task'
        204:
          description: Nessuna task trovata
        401:
          description: Azione non autorizzata
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa dell'autorizzazione non concessa
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Utente non autenticato, codice non valido
        500:
          description: Errore durante la lettura delle tasks
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore durante la lettura delle tasks
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: L'operazione di lettura delle task non è andata a buon fine
    
    post:
      summary: Creare una nuova task
      tags:
        - TO DO
      security:
        - JWT: []
      description: Crea una nuova task per l'utente corrente.
      parameters:
        - name: Authorization
          in: header
          description: token
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/NewTask'
      responses:
        201:
          description: Task creata con successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se l'operazione di creazione della task è stata completata con successo
                example: true
              task:
                $ref: '#/definitions/Task'
        400:
          description: Parametro mancante
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa di un parametro mancante
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Il parametro nome mancante
        401:
          description: Azione non autorizzata
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa dell'autorizzazione non concessa
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Utente non autenticato, codice non valido
        500:
          description: Errore durante la creazione del task
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore durante la creazione del task
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: L'operazione di creazione della task non è andata a buon fine
    
    put:
      summary: Contrassegnazinoe di una task
      tags:
        - TO DO
      security:
        - JWT: []
      description: Contrassegna una task specificata dall'ID.
      parameters:
        - name: Authorization
          in: header
          description: token
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: string
            description: ID della task da contrassegnare
            example: XXX
      responses:
        200:
          description: Task contrassegnata con successo
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se l'operazione di contrassegnazione della task è stata completata con successo
                example: true
              result:
                $ref: '#/definitions/Task'
        400:
          description: Parametro mancante
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa di un parametro mancante
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Il parametro idTask è mancante
        401:
          description: Azione non autorizzata
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa dell'autorizzazione non concessa
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Utente non autenticato, codice non valido
        404:
          description: Task non trovata
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore poiché l'ID specificato non è stata trovato
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Task con id XXX non trovata
        500:
          description: Errore durante l'aggiornamento del task
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore durante l'aggiornamento della task
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: L'operazione di aggiornamento della task non è andata a buon fine
    delete:
      summary: Elimina una task
      tags:
        - TO DO
      security:
        - JWT: []
      description: Elimina la task specificata dall'ID.
      parameters:
        - name: Authorization
          in: header
          description: token
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: string
            description: ID della task da eliminare
            example: XXX
      responses:
        200:
          description: Task eliminata con successo
          schema:
            type: boolean
            description: Indica se l'operazione di eliminazione della task è stata completata con successo
            example: true
        400:
          description: Parametro mancante
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore durante l'eliminazione della task
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Il parametro idTask è mancante
        401:
          description: Azione non autorizzata
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa dell'autorizzazione non concessa
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Utente non autenticato, codice non valido
        404:
          description: Task non trovata
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore durante l'eliminazione della task
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: La task con id XXX non è stata trovata
        500:
          description: Errore durante l'eliminazione della task
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore durante l'eliminazione della task
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: L'operazione di rimozione della task non è andata a buon fine

  /ordinata:
    get:
      summary: Ottieni la lista delle task ordinata
      tags:
        - TO DO
      security:
        - JWT: []
      description: Restituisce la lista delle task ordinate in base al parametro di ordinamento specificato.
      parameters:
        - name: Authorization
          in: header
          description: token
          required: true
          type: string
        - name: sort
          in: formData
          description: Parametro di ordinamento delle task.
          required: true
          type: string
          enum: [name, date, group]
      responses:
        200:
          description: Successo. La lista delle task ordinata è stata restituita correttamente.
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo.
                example: true
              tasks:
                type: array
                items:
                  $ref: '#/definitions/Task'
        204:
          description: Nessun contenuto. La lista delle task è vuota.
        400:
          description: Parametro non valido. Il parametro di ordinamento specificato non è valido.
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
              message:
                type: string
                description: Messaggio di errore
                example: Parametro di ordinamento non valido. Utilizzare name, date o group
        401:
          description: Azione non autorizzata
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se si è verificato un errore a causa dell'autorizzazione non concessa
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: Utente non autenticato, codice non valido
        500:
          description: Errore del server. Si è verificato un errore durante l'ordinamento delle task.
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indica se la richiesta è stata completata con successo
                example: false
              message:
                type: string
                description: Messaggio di errore
                example: L'operazione di ordinamento delle task non è andata a buon fine
              









definitions:
  NewTask:
    type: object
    properties:
      nome:
        type: string
        description: Nome della task
      dataScadenza:
        type: string
        description: Data di scadenza della task (YYYY-MM-DD)
  Task:
    type: object
    properties:
      _id:
        type: string
        description: ID della task
      nome:
        type: string
        description: Nome della task
      dataScadenza:
        type: string
        description: Data di scadenza della task
      contrassegna:
        type: boolean
        description: Indica se la task è contrassegnato
      nomeGruppo:
        type: string
        description: Nome del gruppo a cui appartiene la task
  Data:
    type: object
    properties:
      username:
        type: string
        description: Username dell'utente
      email:
        type: string
        description: Email dell'utente