.Gruppi {
    margin-left: 20pt;
    margin-top: 20pt;
}

.gruppi-leader {
    /* border: 2px solid red; */
    display: flex;
    margin-bottom: 30px;
}

.gruppi-membro {
    /* border: 2px solid blue; */
    display: flex;
}

.gruppo-div {
    background-color: rgb(175, 225, 245);
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.icona-gruppo {
    padding-right: 20px;
}

.gruppo-title {
    display: flex;
    align-items: center;
}

.bi-star-fill {
    color: rgb(249, 234, 96);
    font-size: 40px;
}

.bi-person {
    font-size: 40px;
}

.codice {
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    color: rgb(35, 156, 204);
}

.gruppo-componenti {
    background-color: rgb(35, 156, 204);
    padding: 5px;
    border-radius: 15px;
    color: rgb(175, 225, 245);
}