.Gruppi {
    margin-left: 20pt;
    margin-top: 20pt;
    max-width: 83%;
}

.gruppi-leader {
    max-width: 100%;
    display: flex;
    margin-bottom: 30px;
    overflow-x: scroll;
}

.gruppi-membro {
    /* border: 2px solid blue; */
    max-width: 100%;
    display: flex;
    margin-bottom: 30px;
    overflow-x: scroll;
}

.gruppo-div {
    background-color: rgb(175, 225, 245);
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 10px;
    margin: 7pt;
}

.icona-gruppo {
    padding-right: 20px;
}

.gruppo-title {
    display: flex;
    align-items: center;
}

.nomeGruppo {
    color: rgb(27, 123, 161);
}

.bi-star-fill {
    color: rgb(249, 234, 96);
    font-size: 25px;
}

.bi-person {
    font-size: 25px;
}

.codice {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: rgb(35, 156, 204);
    text-align: center;
    margin-top: 15pt;
    margin-bottom: 10pt;
}

.gruppo-componenti {
    background-color: rgb(35, 156, 204);
    padding: 5px;
    border-radius: 5px;
    color: rgb(175, 225, 245);
    margin-top: 15pt;
    margin-bottom: 10pt;
}

.gruppi-bottoni-div {
    display: flex;
}

.gruppi-bottone {
    margin-right: 10px;
    width: 270pt;
    display: flex;
    align-items: center;
    background-color: rgb(35, 156, 204);
    border-radius: 15pt;
    padding-left: 10pt;
    padding-right: 10pt;
}

.gruppi-bottone:hover {
    background-color: rgb(27, 123, 161);
    transition: 0.5s;
}

.bottone {
    background-color: initial;
    padding: 10px;
    font-size: 15pt;
    width: auto;
    height: auto;
}

.bottone:hover {
    background-color: initial;
}

.bi-plus-square-fill {
    font-size: 40px;
}

.bi-person-fill-add {
    font-size: 40px;
}

.gruppo-div:hover {
    box-shadow: 0 0 10px rgba(4, 40, 54, 0.5);
}

.custom-modal-dialog {
    max-width: 60%; 
    margin: 1.75rem auto;
}