.sessionForm-div {
    border: 3px solid blue;
}

.form-div {
    border: 3px solid red;
}

.form-button {
    border: 3px solid green;
}

.settings-form {
    width: 300pt;
    padding-top: 15pt;
    padding-bottom: 15pt;
    background-color: rgb(175, 225, 245);
    border-radius: 5pt;
    margin: 0 auto;
}