.Timer {
    width: 100%;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    text-align: center;
    border: 3px solid red;
}

.timer-container {
    border: 3px solid green;
}

.timer-buttons-div {
    width: 400pt;
    margin: 0 auto; 
}

.minutes-seconds{
    background-color: rgb(35, 156, 204);
    color: white;
    font-size: 70pt;
    width: 300pt;
    height: 100pt;
    margin: 0 auto;
    text-align: center;
    border-radius: 150px;
}

.bi-play-circle-fill {
    color: rgb(35, 156, 204)
}

.bi-pause-circle-fill {
    color: rgb(35, 156, 204)
}

.bi-stop-circle-fill{
    color: rgb(35, 156, 204)
}

.bi-plus-circle-fill{
    color: rgb(27, 123, 161)
}

.bi-gear-fill{
    color: rgb(139, 148, 151)
}

.icona {
  font-size: 4em;
  color: #1466c4;
  margin-left: 10pt;
  margin-right: 10pt;
}