.Profilo {
    margin: 20pt;
}

.auth-button-div{
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.auth-button {
    background-color: rgb(35, 156, 204);
    color: white;
    font-size: 20pt;
    width: 150pt;
    height: 35pt;
    border: 0;
    border-radius: 5pt;
    margin: 0pt;;
}

.auth-button:hover {
    background-color: rgb(27, 123, 161);
}

.login-div {
    padding-top: 20pt;
    padding-bottom: 20pt;
    width: 350pt;
    background-color: rgb(175, 225, 245);
    border-radius: 5pt;
}

.field-div {
    /* border: 1px solid red; */
    width: 700pt;
    position:relative;
    height: 60pt;
}

.auth-label {
    /* border: 5px solid green; */
    font-size: 18pt;
    margin-right: 10pt;
}

.auth-input {
    /* border: 5px solid blue; */
    width: 200pt;
    height: auto;
    min-height: 40%;
    margin: auto;
    position: absolute;
    border: 1px solid rgb(35, 156, 204);
    border-radius: 3pt;
    font-size: 12pt;
    padding-left: 12pt;
}

.auth-form {
    /* border: 5px solid black; */
    margin-top: 30pt;
    margin-left: 20pt;
}

.error {
    /* border: 5px solid pink; */
    color: rgb(205, 30, 30);
    width: 200pt;
    position: absolute;
    font-weight: bold;
}

.profilo-div {
    background-color: rgb(217, 240, 250);
    padding: 15pt;
    padding-bottom: 30pt;
    border-radius: 5pt;
}

.data-div {
    display: flex;
    align-items: center;
    width: auto;
    padding-right: 20pt;
    padding-left: 10pt;
    height: 40pt;
    margin: 10pt;
    margin-left: 0pt;
    vertical-align: middle;
    background-color: rgb(175, 225, 245);
    border-radius: 5pt;
}

.data-h {
    margin: 0;
    color: rgb(23, 117, 155);
}

.data-p {
    margin: 0;
    padding: 5pt;
    padding-left: 10pt;
    padding-right: 10pt;
    margin-left: 20pt;
    background-color: white;
    border-radius: 5pt;
    font-size: 13pt;
    color: rgb(23, 117, 155);
}

.profile-buttons-div {
    display: flex;
    flex-direction: column;
    margin-top: 30pt;
}

.data-modification-button{
    background-color: rgb(35, 156, 204);
    color: white;
    font-size: 12pt;
    width: fit-content;
    height: auto;
    padding: 7pt;
    border-radius: 5pt;
    margin-bottom: 5pt;
    
}

.logout-button {
    background-color: rgb(204, 35, 35);
    color: white;
    font-size: 12pt;
    width: fit-content;
    height: auto;
    padding: 7pt;
    border-radius: 5pt;
}