<!DOCTYPE html>
<html>
<head>
  <title>Benvenuto su CHRON!</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      color: #333333;
    }
    h1 {
      color: #0099cc;
    }
    .welcome-info {
      margin-bottom: 20px;
    }
    .welcome-info p {
      margin: 0;
    }
    .footer {
      margin-top: 30px;
      text-align: center;
    }
    .footer a {
      color: #0099cc;
    }
  </style>
</head>
<body>
  <h1>Benvenuto su CHRON!</h1>
  <div class="welcome-info">
    <p>Grazie per esserti registrato su CHRON!</p>
    <p>Il tuo account è stato creato con successo.</p>
    <p>Ora puoi accedere utilizzando l'autenticazione con google.</p>
  </div>
  <div class="footer">
    <p>Per ulteriori informazioni, visita <a href="https://chron-app.onrender.com/">CHRON</a>.</p>
  </div>
</body>
</html>