.listaSaleStudio{
    margin: 20pt;
    background-color: rgb(175, 225, 245);
    width: 100%;
    padding: 20pt;
    overflow-y: scroll;
}

.salaStudio-div{
    color: rgb(27, 123, 161);
    background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10pt;
    width: fit-content;
}

.salaStudio-title {
    display: flex;
    align-items: center;
}

.salaStudio-nome {
    margin: 0;
}

.bi-buildings{
    color: rgb(27, 123, 161);
    font-size: 25pt;
    margin-right: 10pt;
}

.salaStudio-indirizzo {
    margin: 0;
    font-size: 13pt;
}

.salaStudio-restrizioni {
    margin: 0;
    font-size: 9pt;
    color: rgb(198, 55, 55);
}

.salaStudio-rating {
    margin: 0;
    margin-right: 10pt;
}

.mb-3 {
    width: 500pt;
}

.btn-primary {
    width: auto;
    background-color: rgb(27, 123, 161);
}

.form-switch{
    display: flex;
    align-items: center;
}

.form-check-label {
    margin-left: 15pt;
    font-size: 15pt;

}

.form-check-input {
    background-color: rgb(218, 78, 78);
    color: white;
    border: none;
    fill: white;
}

.form-check-input:checked {
    background-color: rgb(78, 218, 94);
    border: none;
}

.form-check-input:focus {
    box-shadow: none;
    border: none;
}

.orario-div{
    display: flex;
}

.orari-div {
    background-color: rgb(175, 225, 245);
    padding: 10pt;
    border-radius: 5pt;
    width: fit-content;
}

.dettagli-orario {
    margin: 0;
    font-size: 10pt;
}

.dettagli-orario-apertura {
    margin: 0;
    font-size: 10pt;
    margin-left: 10pt;
    color: rgb(84, 84, 84);
}

.container-elementi-posizione {
    margin-top: 20pt;
}

.title-header {
    margin-bottom: 20pt;
}

.bottone-mappa {
    margin-top: 10pt;
    width: fit-content;
    padding: 5pt;
    border-radius: 5pt;
}