.unauthorized{
    position: fixed;
    top: 11%;
    width: 50%;
    margin-left: 56%;
    margin-right: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.analitycs{
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: rgb(149, 196, 214);
}

.graphic{
    position: absolute;
    top: 12%;
    left: 10%;
    width: 85%;
    background-color: white;
}

.chart{
    position: absolute;
    width: 78%;
    left: -10%;
    top: 20%;
    padding-bottom: 2%;
    text-align: center;
    background-color: white;
    float: left;
    border-radius: 5pt;
}

.stats{
    float: right;
    position: absolute;
    width: 30%;
    right: 0%;
    top: 30%;
    padding: 10pt;
    text-align: center;
    background-color: white;
    border-radius: 5pt;
}

.buttondiv{
    display: flex;
    justify-content: space-between;
}

.time-button{
    width: 25%;
    height: 40px;
    margin-left: 12.5%;
    background-color: rgb(35, 156, 204);
    border-radius: 5pt;
    margin-top: 10pt;
    margin-bottom: 20pt;
}

.time-button:active{
    background-color: rgb(203, 220, 227);
    color: rgb(255, 255, 255);
}

#mex{
    text-align: left;
    margin-left: 10%;
}

#titolo{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: rgb(35, 156, 204);
    color: white;
    font-size: 22pt;
    padding: 5pt;
}

.arrow-button{
    border-radius: 5pt;
    width: 60px;
    height: 60px;
    margin-left: 10pt;
    margin-right: 10pt;
    background-color:rgb(35, 156, 204);
}